<h2>Contacts</h2>
<p>You can leave your message</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label for="exampleInputEmail1">Your email</label>
    <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" value="<%=@email%>" >
  </div>

  <div>
    <label for="exampleFormControlTextarea1">Leave your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your message" rows="3" ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Send</button>
