<h2>Sing up now!</h2>
<p>Book an appointment</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label for="exampleInputEmail1">Your name</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>