<h2>Sing up now!</h2>
<p>Book an appointment</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label for="exampleInputEmail1">Your name</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label>Phone number</label>
    <input name="phone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
  </div>

  <div class="form-group">
    <label>Date and time</label>
    <input name="datetime" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date and time">
  </div>

  <div class="form-group">
    <label>Choose your barber</label>
    <select name="barber" class="form-control">
      <option>Tommy</option>
      <option>Gus</option>
      <option>Walter</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
